.header {
	background-color: blue;
	color: white;
	font-size: 36;
	padding: 30px;
	font-family: 'Baloo Bhaijaan', cursive;
}
.left {
	background-color: grey;
}
.box {
	padding: 50px 30px;
	margin: 10px;
	background-color: black;
	color: white;
	float: left;
	font-family: 'Baloo Tammudu', cursive;
}
.right {
	background-color: lightgrey;
}
.center {
	background-color: yellow;

}
.btnn {
	margin-bottom: 20px;
}
.home {
	text-decoration: none;
	cursor: pointer;
	padding-left: 20px;
}
.home:hover {
	background-color: black;
	color: white;
	border: 1px solid white;
}
.portfolio {
	text-decoration: none;
	cursor: pointer;
	padding-left: 20px;
}
.portfolio:hover {
	background-color: black;
	color: white;
	border: 1px solid white;
}
